header{
	width:100%;
	height:50px;
	background:white;
	border:1px solid red;
}
*{
	margin:0px;
	padding:0px;
	list-style: none;
}
header li{
	float:left;
	width:100px;
	height:50px;
	background:blue;
	margin-left:20px;
	text-align: center;
	line-height: 50px;
	
}
header li:hover{
	animation-name: myani;
	animation-duration: 1s;
	animation-iteration-count: 1;
	
}
@keyframes myani{
	from{
		background:blue;
		transform: translateY(-40px);
	}
	to{
		background:orange;
		transform: translateY(0px);
	}
}
