<!DOCTYPE html>
<html lang="en"  ng-app="app">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="../node_modules/angular/angular.min.js"></script>
</head>
<body>

      <div  ng-controller="ctrl">

        {{name}}
        <input  ng-model="name" />


        {{lists[2]}}

          <input  ng-model="lists[2]" />

      </div>




<script>

    angular.module('app',[])
    .controller('ctrl',function($scope){

          $scope.name = '吴亦凡';

          $scope.lists = [1,3,4,7]

          $scope.$watch('name',function(newval,oldvalue,scope){
              console.log('new:' + newval)
              console.log('old:'  + oldvalue)
              console.log('scope:' + scope.name)
          })


          //监听的属性名称  回调函数     是否深度监听
          $scope.$watch('lists',function(newval){
              console.log(newval)
          },true)

    })


</script>
</body>
</html>
